<h1> Welcome to endorse.me</h1>
<%if  user_signed_in? %>
    <%=link_to "Import from LinkedIn", user_omniauth_authorize_path(:linkedin) %>
<% else %>
    <%=link_to "Sign in", user_omniauth_authorize_path(:twitter) %>
<% end %>